{# empty Twig template #}
<style>
    .texte label{ font-size: 10px; vertical-align: middle;}
    .texte input{ width:15px;}
</style>
    {{ form_start(formSearch) }}
    <div class="row">
        <div class="col-6">
            {{ form_widget(formSearch.cherche, {'attr': {'placeholder': 'Entrez IMO ou MMSI'}}) }}
        </div>
        <div class="col-2 texte">
        {{ form_widget(formSearch.choix,{'attr' : {'label':'Choix', 'class':'text-light'}} ) }}
        </div>
        <div class="col-2">
        {{ form_widget(formSearch.Rechercher, {'attr': {'class':'btn btn-dark'}}) }}
        </div>
    </div>

    {{ form_end(formSearch) }}
